<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Cards test</title>
</head>
<body><br>
<h1>Menu</h1><br>
<script>
    function sendForm(id, action)
    {
        var form = document.getElementById(id);
        form.action=action;
        form.submit();
    }

</script>

<a href="/players" target="_blank">List players</a>

<br>
Player name <input type="text" id="playername"/>

<form action="/player/" id="createform" method="POST" enctype="application/x-www-form-urlencoded" target="_blank">
</form><b>create player</b>
<button onclick="sendForm('createform', '/player/'+document.getElementById('playername').value+'/create');" >go</button><br>

<form action="/player/" id="playerform" method="GET" enctype="application/x-www-form-urlencoded" target="_blank">
</form><b>See player infos</b>
<button onclick="sendForm('playerform', '/player/'+document.getElementById('playername').value);" >go</button><br>

<form action="/player/" id="playerhandform" method="GET" enctype="application/x-www-form-urlencoded" target="_blank">
</form><b>See player hand</b>
<button onclick="sendForm('playerhandform', '/hand/player/'+document.getElementById('playername').value);" >go</button><br>

<form action="/player/" id="sortform" method="GET" enctype="application/x-www-form-urlencoded" target="_blank">
</form> <b>Sort player hand</b>
<button onclick="sendForm('sortform', '/hand/player/'+document.getElementById('playername').value+'/sort');" >go</button><br>

<form action="/player/" id="descform" method="GET" enctype="application/x-www-form-urlencoded" target="_blank">
    <input type="hidden" value="desc" name="order"/>
</form><b>descending sort player hand</b>
<button onclick="sendForm('descform', '/hand/player/'+document.getElementById('playername').value+'/sort');" >go</button><br>

<form action="/player/" id="deleteform" method="POST" enctype="application/x-www-form-urlencoded" target="_blank">
</form><b>Delete player by name</b>
<button onclick="sendForm('deleteform', '/player/'+document.getElementById('playername').value+'/delete');" >go</button><br>
<br>
<br>
</body>
</html>