<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Cards test</title>
</head>
<body><br>
<h1>Menu</h1><br>

<a href="sortedHand" >Random sorted hand</a><br>

<a href="">List players</a>
<a href="">get one player infos</a>
<form action="/player/" id="createform">
    <b>create player</b>
    <br>
    name <input type="text" onchange="javascript:getElementById('createform').action=this.value;"/>
    <input type="submit" value="go"/>
</form>
<a href="">see player hand</a><br>
<a href="">sort player hand</a><br>
<a href="">delete player by name</a><br>
<a href=""></a><br>
<a href=""></a><br>
<br>

<br>
</body>
</html>